section.popups
        #popup-a.popup
            .popup__body.popup__body-a
                .popup__close
                    a.popup__link.popup__link-close.popup-close(href='#')
                        img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
                .popup__content
                    .content
                        .content__body
                            .content__article
                                article#article-procedure.article
                                    .article__body
                                        h2#article-title.article__title &Pcy;&rcy;&ocy;&kcy;&acy;&chcy;&kcy;&acy; &mcy;&ycy;&shcy;&tscy;
                                        .article__content
                                            #procedure.article__block
                                                h3#procedure-title.article__title.article__title-sub.article__title-procedure
                                                    | &Mcy;&icy;&kcy;&rcy;&ocy;&icy;&gcy;&ocy;&lcy;&softcy;&chcy;&acy;&tcy;&ycy;&jcy; RF
                                                    | &lcy;&icy;&fcy;&tcy;&icy;&ncy;
                                                #procedure-content.article__procedure
                                                    p#procedure-p.article__p
                                                        span.article__span.article__span-machine
                                                            | EMS (Electric
                                                            | Mio Stimulation)
                                                        |                             &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &acy;&pcy;&pcy;&acy;&rcy;&acy;&tcy; &pcy;&ocy;&mcy;&ocy;&gcy;&acy;&iecy;&tcy; &scy;&ocy;&zcy;&dcy;&acy;&tcy;&softcy; &bcy;&ocy;&lcy;&iecy;&iecy; &scy;&tcy;&rcy;&ocy;&jcy;&ncy;&ocy;&iecy; &tcy;&iecy;&lcy;&ocy;, &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy; &iecy;&gcy;&ocy;
                                                        |                             &pcy;&ocy;&dcy;&tcy;&yacy;&ncy;&ucy;&tcy;&ycy;&mcy;, &pcy;&rcy;&ocy;&rcy;&acy;&bcy;&ocy;&tcy;&acy;&tcy;&softcy; &kcy;&ocy;&ncy;&tcy;&ucy;&rcy;&ycy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy;
                                                        |                             &ucy;&mcy;&iecy;&ncy;&softcy;&shcy;&icy;&tcy;&softcy;
                                                        |                             &zhcy;&icy;&rcy;&ocy;&vcy;&ycy;&iecy; &ocy;&tcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy; , &ocy;&dcy;&ncy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy; &pcy;&rcy;&ocy;&kcy;&acy;&chcy;&icy;&vcy;&acy;&yacy; &mcy;&ycy;&shcy;&tscy;&ycy;, &scy;&kcy;&rcy;&ycy;&vcy;&acy;&yucy;&shchcy;&icy;&iecy;&scy;&yacy;
                                                        |                             &pcy;&ocy;&dcy; &ncy;&icy;&mcy;&icy;.
                                            #image.article__block
                                                h3#procedure-title.article__title.article__title-sub
                                                #image-content.article__image
                                                    img#image-procedre.article__image(src=require('./images/fr-lifting.png') alt='')
                                            #indications.article__block
                                                h3#indications-title.article__title.article__title-sub
                                                    | &Pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy;
                                                #indications-content.article__indications
                                                    ul#indications-items.article__items
                                                        li#indications-item1.article__item
                                                            p#indications-p1.article__p.article__p-item
                                                                | &ucy;&lcy;&ucy;&chcy;&shcy;&iecy;&ncy;&icy;&iecy; &scy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&icy;&yacy; &mcy;&ycy;&shcy;&tscy;
                                                        li#indications-item2.article__item
                                                            p#indications-p2.article__p.article__p-item
                                                                | &ucy;&scy;&tcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&iecy; &icy;&zcy;&lcy;&icy;&shcy;&kcy;&ocy;&vcy; &zhcy;&icy;&rcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&jcy; &vcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;
                                                                | &zhcy;&icy;&vcy;&ocy;&tcy;&acy;,&yacy;&gcy;&ocy;&dcy;&icy;&tscy;,&rcy;&ucy;&kcy; &icy; &ncy;&ocy;&gcy;
                                                        li#indications-item3.article__item
                                                            p#indications-p3.article__p.article__p-item
                                                                | &zhcy;&icy;&vcy;&ocy;&tcy;&acy;,&yacy;&gcy;&ocy;&dcy;&icy;&tscy;,&rcy;&ucy;&kcy; &icy; &ncy;&ocy;&gcy;
                                                        li#indications-item4.article__item
                                                            p#indications-p4.article__p.article__p-item
                                                                | &ucy;&kcy;&rcy;&iecy;&pcy;&lcy;&iecy;&ncy;&icy;&iecy; &mcy;&ycy;&shcy;&tscy; &zhcy;&icy;&vcy;&ocy;&tcy;&acy; &pcy;&ocy;&scy;&lcy;&iecy; &rcy;&ocy;&dcy;&ocy;&vcy;
                                                        li#indications-item5.article__item
                                                            p#indications-p5.article__p.article__p-item
                                                                | &ncy;&iecy; &tcy;&rcy;&iecy;&bcy;&ucy;&iecy;&tcy; &rcy;&iecy;&acy;&bcy;&icy;&lcy;&icy;&tcy;&acy;&tscy;&icy;&icy;
                                                        li#indications-item6.article__item
                                                            p#indications-p6.article__p.article__p-item
                                                                | &dcy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;&ycy; 30 &mcy;&icy;&ncy;&ucy;&tcy;
                                                        li#indications-item7.article__item
                                                            p#indications-p7.article__p.article__p-item
                                                                | &icy;&zcy;&mcy;&iecy;&ncy;&iecy;&ncy;&icy;&yacy; &ucy;&zhcy;&iecy; &pcy;&ocy;&scy;&lcy;&iecy; &pcy;&iecy;&rcy;&vcy;&ocy;&jcy; &pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;&ycy;
                                            #contraindications.article__block
                                                h3#contraindications-title.article__title.article__title-sub
                                                    | &Pcy;&rcy;&ocy;&tcy;&icy;&vcy;&ocy;&pcy;&ocy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&yacy;
                                                #contraindications-content.article__contraindications
                                                    ul#contraindications-items.article__items
                                                        li#contraindications-item1.article__item
                                                            p#contraindications-p1.article__p.article__p-item
                                                                | &ncy;&acy;&lcy;&icy;&chcy;&icy;&iecy; &kcy;&acy;&rcy;&dcy;&icy;&ocy;&scy;&tcy;&icy;&mcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy;&acy;
                                                        li#contraindications-item2.article__item
                                                            p#contraindications-p2.article__p.article__p-item
                                                                | &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&ycy;&iecy; &icy; &mcy;&iecy;&tcy;&acy;&lcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &icy;&mcy;&pcy;&lcy;&acy;&ncy;&tcy;&ycy;
                                                        li#contraindications-item3.article__item
                                                            p#contraindications-p3.article__p.article__p-item
                                                                | &lcy;&iocy;&gcy;&ocy;&chcy;&ncy;&acy;&yacy; &ncy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&tcy;&ocy;&chcy;&ncy;&ocy;&scy;&tcy;&softcy;
                                                        li#contraindications-item4.article__item
                                                            p#contraindications-p4.article__p.article__p-item
                                                                | &bcy;&iecy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy;
                                                        li#contraindications-item5.article__item
                                                            p#contraindications-p5.article__p.article__p-item
                                                                | &ncy;&iecy;&dcy;&acy;&vcy;&ncy;&ocy; &pcy;&rcy;&ocy;&vcy;&iecy;&dcy;&iocy;&ncy;&ncy;&ycy;&iecy; &khcy;&icy;&rcy;&ucy;&rcy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &ocy;&pcy;&iecy;&rcy;&acy;&tscy;&icy;&icy;
                                            #price.article__block
                                                h3#price-title.article__title.article__title-sub
                                                    | &Pcy;&rcy;&acy;&jcy;&scy;
                                                #price-content.article__price
                                                    ul#price-items.article__items
                                                        li#price-item1.article__item.article__item-price
                                                            p#price-p1.article__p.article__p-item
                                                                | 1 &Pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;&acy;
                                                            p#price-p11.article__p.article__p-item
                                                                | 2 500
                                                        li#price-item2.article__item.article__item-price
                                                            p#price-p2.article__p.article__p-item
                                                                | 5 &Pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;
                                                            p#price-p21.article__p.article__p-item
                                                                | 10 000
                                                        li#price-item3.article__item.article__item-price
                                                            p#price-p3.article__p.article__p-item
                                                                | 10 &Pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;
                                                            p#price-p31.article__p.article__p-item
                                                                | 22 000
                                #content-article.content__wranning.content__wranning-article
                                    .content__inner-article
                                        p#p-article.content__p.content__p-article
                                            | &Ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&jcy;&tcy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                                        phone#phone-article.content__phone.content__phone-article
                                            a.content__number.content__number-article(href='tel:+79182669130') +7 918 266 91 30
        #popup-b.popup
            .popup__body.popup__body-b
                .popup__close
                    a.popup__link.popup__link-close.popup-close(href='#')
                        img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
                .popup__content
                    .content
                        .content__body
                            .content__table
                                table#table-windows.table
                                    caption#caption-windows.table__caption.table__caption-windows
                                        | &Scy;&vcy;&ocy;&bcy;&ocy;&dcy;&ncy;&ycy;&iecy; &ocy;&kcy;&ocy;&shcy;&kcy;&icy;
                                    thead.table__header.table__header-windows
                                        tr.table__tr.table__tr-header
                                            th.table__th.table__th-corner.table__th-topleft.table__th-sticky
                                            th.table__th.table__th-header.table__th-sticky &Pcy;&Ncy;
                                            th.table__th.table__th-header.table__th-sticky &Vcy;&Tcy;
                                            th.table__th.table__th-header.table__th-sticky &Scy;&Rcy;
                                            th.table__th.table__th-header.table__th-sticky &CHcy;&Tcy;
                                            th.table__th.table__th-header.table__th-sticky &Pcy;&Tcy;
                                            th.table__th.table__th-header.table__th-sticky &Scy;&Bcy;
                                            th.table__th.table__th-header.table__th-sticky &Vcy;&Scy;
                                            th#th-topright.table__th.table__th-corner.table__th-topright.table__th-sticky
                                    tbody#tbody-windows.table__body.table__body-windows
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__border-bottom.table__th-first
                                                | |
                                            td.table__td.table__td-body.table__border-bottom
                                                | 13
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                                | 9
                                                sup.table__sup-body 30
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            th.table__th.table__th-last.table__border-bottom
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__border-bottom.table__th-first
                                                | ||
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                                | 15
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            th.table__th.table__th-last.table__border-bottom
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__border-bottom.table__th-first
                                                | ||
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                                | 15
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            th.table__th.table__th-last.table__border-bottom
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__border-bottom.table__th-first
                                                | ||
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                                | 15
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            th.table__th.table__th-last.table__border-bottom
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__border-bottom.table__th-first
                                                | ||
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                                | 15
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            th.table__th.table__th-last.table__border-bottom
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__border-bottom.table__th-first
                                                | ||
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                                | 15
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            th.table__th.table__th-last.table__border-bottom
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__border-bottom.table__th-first
                                                | ||
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                                | 15
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            th.table__th.table__th-last.table__border-bottom
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__border-bottom.table__th-first
                                                | ||
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                                | 15
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            td.table__td.table__td-body.table__border-bottom
                                            th.table__th.table__th-last.table__border-bottom
                                        tr.table__tr.table__tr-body
                                            th.table__th.table__th-body.table__th-first ||
                                            td.table__td.table__td-body
                                            td.table__td.table__td-body
                                            td.table__td.table__td-body
                                            td.table__td.table__td-body
                                                | 15
                                                sup.table__sup-body 00
                                            td.table__td.table__td-body
                                            td.table__td.table__td-body
                                            td.table__td.table__td-body
                                            th.table__th.table__th-last
                                    tfoot.table__footer.table__footer-windows
                                        tr.table__tr.table__tr-footer
                                            th.table__th.table__th-corner.table__th-bottomleft.table__th-sticky
                                            th.table__th.table__th-footer.table__th-sticky 12.02
                                            th.table__th.table__th-footer.table__th-sticky 13.02
                                            th.table__th.table__th-footer.table__th-sticky 14.02
                                            th.table__th.table__th-footer.table__th-sticky 15.02
                                            th.table__th.table__th-footer.table__th-sticky 16.02
                                            th.table__th.table__th-footer.table__th-sticky 17.02
                                            th.table__th.table__th-footer.table__th-sticky 18.02
                                            th#th-bottomright.table__th.table__th-corner.table__th-bottomright.table__th-sticky
                                #content-windows.content__wranning.content__wranning-windows
                                    .content__inner.content__inner-windows
                                        p#p-windows.content__p.content__p-windows
                                            | &Ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&jcy;&tcy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                                        phone#phone-windows.content__phone.content__phone-windows
                                            a.content__number.content__number-windows(href='tel:+79182669130') +7 918 266 91 30
        #popup-c.popup
            .popup__body.popup__body-c
                .popup__close
                    a.popup__link.popup__link-close.popup-close(href='#')
                        img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
                .popup__content
                    .content
                        .content__body
                            .content__phone
                                #phone.phone
                                    .phone__inner
                                        .phone__icon
                                            img#phone-img.phone__img(src=require('./images/icon-popup-c.svg') alt='')
                                        phone.phone__items
                                            a.phone__number(href='tel:+79182669130') +7 918 266 91 30
        #popup-d.popup
            .popup__body.popup__body-d
                .popup__close
                    a.popup__link.popup__link-close.popup-close(href='#')
                        img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
                .popup__content
                    .content
                        .content__body
                            .content__message
                                #message.message
                                    .message__inner
                                        .message__icon
                                            img#messege-img.message__img(src=require('./images/icon-popup-d.svg') alt='')
                                        .message__content
                                            p#message-p.message__p
                                                | &Ncy;&iecy; &ocy;&tcy;&kcy;&lcy;&dcy;&ycy;&vcy;&acy;&jcy; &ncy;&acy; &zcy;&acy;&vcy;&tcy;&rcy;&acy; &tcy;&ocy;, &chcy;&tcy;&ocy; &mcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&acy;&chcy;&acy;&tcy;&softcy; &scy;&iecy;&gcy;&ocy;&dcy;&ncy;&yacy;.
        #popup-e.popup
            .popup__body.popup__body-e
                .popup__close
                    a.popup__link.popup__link-close.popup-close(href='#')
                        img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
                .popup__content
                    .content
                        .content__body
                            .content__image
                                #image.image
                                    .image__content
                                        img#image-img.image__img(src=require('./images/certificate6.jpg') alt='')
        #popup-f.popup
            .popup__body.popup__body-f
                .popup__close
                    a.popup__link.popup__link-close.popup-close(href='#')
                        img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
                .popup__content
                    .content
                        .content__body
                            .content__stock
                                #stock.stock
                                    h2#stock-title.stock__title &Acy;&kcy;&tscy;&icy;&yacy;
                                    .stock__slider
                                        .slider.slider-stock
                                            .slider__items.slider__items-stock
                                                .slider__item.slider__item-stock
                                                    .slider__slide.slider__slide-stock
                                                        .slide.slide-stock
                                                            .slide__content.slide__content-stock
                                                                p#slide-stock1.slide__stock
                                                                    | &ZHcy;&iocy;&ncy;&acy;&mcy; &vcy;&ocy;&iecy;&ncy;&ncy;&ycy;&khcy; &icy;&lcy;&icy; &ucy;&chcy;&acy;&scy;&tcy;&ncy;&icy;&kcy;&ocy;&vcy; &Scy;&Vcy;&Ocy; &scy;&kcy;&icy;&dcy;&kcy;&acy;
                                                                p#slide-value1.slide__value
                                                                    span.slide__span.slide__span-num 10
                                                                    span.slide__span.slide__span-symbol %
                                                    .slider__slide.slider__slide-stock
                                                        .slide.slide-stock
                                                            .slide__content.slide__content-stock
                                                                p#slide-stock1.slide__stock
                                                                    | &Pcy;&iecy;&rcy;&vcy;&ycy;&jcy; &rcy;&acy;&zcy; &ucy; &ncy;&acy;&scy;! &Scy;&ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&softcy;
                                                                p#slide-value1.slide__value
                                                                    span.slide__span.slide__span-num 15
                                                                    span.slide__span.slide__span-symbol %
                                                    .slider__slide.slider__slide-stock
                                                        .slide.slide-stock
                                                            .slide__content.slide__content-stock
                                                                p#slide-stock1.slide__stock
                                                                    | &Scy; &Dcy;&ncy;&iocy;&mcy; &Rcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy;! &Pcy;&ocy;&lcy;&ucy;&chcy;&icy; &scy;&kcy;&icy;&dcy;&kcy;&ucy; &vcy; &pcy;&ocy;&dcy;&acy;&rcy;&ocy;&kcy;
                                                                p#slide-value1.slide__value
                                                                    span.slide__span.slide__span-num 20
                                                                    span.slide__span.slide__span-symbol %
                                #content-stock.content__wranning.content__wranning-stock
                                    .content__inner.content__inner-stock
                                        p#p-stock.content__p.content__p-stock
                                            | &Ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&jcy;&tcy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                                        phone#phone-stock.content__phone.content__phone-stock
                                            a.content__number.content__number-stock(href='tel:+79182669130')
                                                | +7
                                                | 918 266 91 30
        #popup-g.popup
            .popup__body.popup__body-g
                .popup__close
                    a.popup__link.popup__link-close.popup-close(href='#')
                        img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
                .popup__content
                    .content
                        .content__body
                            .content__home
                                #home.home
                                    .home__body
                                        h2#home-title.home__title &Vcy;&ycy;&iecy;&zcy;&dcy; &ncy;&acy; &dcy;&ocy;&mcy;
                                        .home__content
                                            .home__block
                                                h3.home__title.home__title-sub &Mcy;&acy;&scy;&scy;&acy;&zhcy;1
                                                p.home__p
                                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
                                                    | nulla quo, sequi quasi necessitatibus unde
                                                    | reiciendis voluptate dolores natus, officiis odit eaque repellendus
                                                    | obcaecati ipsum nemo temporibus sit
                                                    | corrupti saepe?
                                                img.home__image(src=require('./images/fr-lifting.png') alt='')
                                            .home__block
                                                h3.home__title.home__title-sub &Mcy;&acy;&scy;&scy;&acy;&zhcy;2
                                                p.home__p
                                                    | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
                                                    | nulla quo, sequi quasi necessitatibus unde
                                                    | reiciendis voluptate dolores natus, officiis odit eaque repellendus
                                                    | obcaecati ipsum nemo temporibus sit
                                                    | corrupti
                                                    | saepe?
                                                img.home__image(src=require('./images/fr-lifting.png') alt='')
                                #content-home.content__wranning.content__wranning-home
                                    .content__inner.content__inner-home
                                        p#p-home.content__p.content__p-home
                                            | &Ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&jcy;&tcy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                                        phone#phone-home.content__phone.content__phone-home
                                            a.content__number.content__number-home(href='tel:+79182669130')
                                                | +7
                                                | 918 266 91 30
        #popup-h.popup
            .popup__body.popup__body-h
                .popup__close
                    a.popup__link.popup__link-close.popup-close(href='#')
                        img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
                .popup__content
                    .content
                        .content__body
                            .content__reviews
                                #reviews.reviews
                                    .reviews__body
                                        h2#reviews-title.reviews__title &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
                                        .reviews__content
                                            .reviews__block
                                                h3#user1.reviews__title.reviews__title-sub
                                                    | &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;
                                                p#reviews1.reviews__p
                                                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                    | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                    | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                    | officia laborum voluptate deleniti quidem esse.
                                            .reviews__block
                                                h3#user1.reviews__title.reviews__title-sub
                                                    | &IEcy;&fcy;&icy;&mcy;
                                                p#reviews1.reviews__p
                                                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                    | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                    | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                    | officia laborum voluptate deleniti quidem esse.
                                            .reviews__block
                                                h3#user1.reviews__title.reviews__title-sub
                                                    | &Acy;&lcy;&lcy;&acy;
                                                p#reviews1.reviews__p
                                                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                    | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                    | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                    | officia laborum voluptate deleniti quidem esse.
                                            .reviews__block
                                                h3#user1.reviews__title.reviews__title-sub
                                                    | &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&jcy;
                                                p#reviews1.reviews__p
                                                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                    | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                    | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                    | officia laborum voluptate deleniti quidem esse.
                                            .reviews__block
                                                h3#user1.reviews__title.reviews__title-sub
                                                    | &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                                                p#reviews1.reviews__p
                                                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                    | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                    | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                    | officia laborum voluptate deleniti quidem esse.
                                            .reviews__block
                                                h3#user1.reviews__title.reviews__title-sub
                                                    | &Acy;&scy;&lcy;&acy;&ncy;
                                                p#reviews1.reviews__p
                                                    | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                    | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                    | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                    | officia laborum voluptate deleniti quidem esse.
                            #content-reviews.content__wranning.content__wranning-reviews
                                .content__inner.content__inner-reviews
                                    p#p-reviews.content__p.content__p-reviews
                                        | &Bcy;&ucy;&dcy;&iecy;&mcy; &rcy;&acy;&dcy;&ycy; &Vcy;&acy;&shcy;&icy;&mcy; &ocy;&tcy;&zcy;&ycy;&vcy;&acy;&mcy; &vcy; &ncy;&acy;&shcy;&icy;&khcy; &scy;&ocy;&tscy;. &scy;&iecy;&tcy;&yacy;&khcy;.
                                    .content__icons.content__icons-reviews
                                        .content__inner.content__inner-icots
                                            .content__icon
                                                a#reviews-whatsapp-link.content__link.content__link-reviews(href='')
                                                    img#reviews-whatsapp-img.content__img.content__img-whatsapp(src=require('./images/whatsapp-review.svg') alt='')
                                            .content__icon
                                                a#reviews-telegram-link.content__link.content__link-reviews(href='')
                                                    img#reviews-telegram-img.content__img.content__img-telegram(src=require('./images/telegram-review.svg') alt='')
