section.certificates
        .container.container-certificates
            .certificates__slider
                .slider.slider-certificates
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate1.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate2.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate3.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate4.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate5.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate6.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate7.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate8.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate9.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate10.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate11.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate12.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('../images/certificate13.jpg') alt='')
                .dots
                    .dots__body.dots__body-certificates