doctype html
html(lang= 'ru')
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= 'snv-site-react'
body 
.wrapper
    header.header
        .container
            .header__inner
                .header__left
                    .header__inner.header__inner-left
                        .header__logo
                            a.header__link.header__link-logo(href='#')
                                img.logo.logo-header(src=require('./images/logo-header.svg') alt='SNV')
                        .header__title
                            h1.title.title-header &Acy;&pcy;&pcy;&acy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &kcy;&ocy;&rcy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy; &fcy;&icy;&gcy;&ucy;&rcy;&ycy;
                    .header__line
                .header__right
                    .header__inner.header__inner-right
                        .header__menu
                            menu.menu.menu-header
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.popup-link(href='#popup-g')
                                        | &Vcy;&ycy;&iecy;&zcy;&dcy; &ncy;&acy;
                                        | &dcy;&ocy;&mcy;
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.menu__link-block(href='#' data-block='#procedures') &Ucy;&scy;&lcy;&ucy;&gcy;&icy;
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.popup-link(href='#popup-f') &Acy;&kcy;&tscy;&icy;&icy;
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.popup-link(href='#popup-b') &Ocy;&kcy;&ncy;&acy;
                                li.menu__item.menu__item-header
                                    a.menu__link.menu__link-header.popup-link(href='#popup-h') &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
                        .header__burger
                            a.header__link.header__link-burger(href='#')
                                img.burger.burger-header(src=require('./images/burger-header744.svg') alt='SNV')
                        .header__phone
                            a.header__link-phone(href='tel:+79182669130')
                                span.header__span.header__span-block +7
                                span.header__span 9
                                span.header__span 1
                                span.header__span.header__span-block 8
                                span.header__span 2
                                span.header__span 6
                                span.header__span.header__span-block 6
                                span.header__span 9
                                span.header__span.header__span-block 1
                                span.header__span 3
                                span.header__span.header__span-block 0
    section.main
        .main__inner
            .main__sidebar
                menu.sidebar.sidebar-main
                    li.sidebar__item.sidebar__item-main
                        menu.sidebar.sidebar-sub
                            li.sidebar__item.sidebar__item-sub
                                a.sidebar__link.sidebar__link-sub.popup-link(href='#popup-b') &Ocy;&kcy;&ncy;&acy;
                            li.sidebar__item.sidebar__item-sub
                                a.sidebar__link.sidebar__link-sub.popup-link(href='#popup-f') &Acy;&kcy;&tscy;&icy;&icy;
                    li.sidebar__item.sidebar__item-main
                        a.sidebar__link.sidebar__link-main.popup-link(href='#popup-c') &Pcy;&ocy;&zcy;&vcy;&ocy;&ncy;&icy;&tcy;&softcy;
            .main__icons
                menu.icons.icons-main
                    li.icons__item.icons__item-main
                        a.icons__link.icons__link-main(href='#')
                            img#main-whatsapp-icon.icons__main.icons__main-icon(src=require('./images/whatsapp-review.svg') alt='WhatsApp-icon')
                            img#main-whatsapp-shadow.icons__main.icons__main-shadow(src=require('./images/whatsapp-shadow.svg') alt='WhatsApp-shadom')
                    li.icons__item.icons__item-main
                        a.icons__link.icons__link-main(href='#')
                            img#main-telegram-icon.icons__main.icons__main-icon(src=require('./images/telegram-review.svg') alt='Telegram-icon')
                            img#main-telegram-shadow.icons__main.icons__main-shadow(src=require('./images/telegram-shadow.svg') alt='Telegram-shadow')
                    li.icons__item.icons__item-main
                        a.icons__link.icons__link-main.popup-link(href='#popup-d')
                            img#main-checkmark-icon.icons__main.icons__main-icon(src=require('./images/checkmark-review.svg') alt='Checkmark-icon')
                            img#main-checkmark-shadow.icons__main.icons__main-shadow(src=require('./images/checkmark-shadow.svg') alt='Checkmark-shadow')
.wrapper.wrapper__proced
    section#procedures.procedures
        .container.container-procedures
            .procedures__tabs
                .procedures__menu
                    menu.menu.menu-procedures
                        li.menu__item.menu__item-tab
                            a.menu__link.menu__link-tab(href='#tab-b') &Dcy;&lcy;&yacy; &tcy;&iecy;&lcy;&acy;
                        li.menu__item.menu__item-tab
                            a.menu__link.menu__link-tab(href='#tab-f') &Dcy;&lcy;&yacy; &lcy;&icy;&tscy;&acy;
                #tab-b.tabs.tabs-procedures.tabs-active
                    .tabs__body
                        .tabs__slider
                            .slider.slider-procedures.slider-body
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/body1.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/body2.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/body3.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/body4.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/body5.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/body6.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/body7.png') alt='Процедура')
                            .dots
                                .dots__body.dots__body-procedure.dots__body-body
                #tab-f.tabs.tabs-procedures
                    .tabs__body
                        .tabs__slider
                            .slider.slider-procedures.slider-face
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face1.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face2.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face3.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face4.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face5.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face6.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face7.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./img/procedures/face/face8.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face9.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face10.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face11.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face12.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face13.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('./images/face14.png') alt='Процедура')
                            .dots
                                .dots__body.dots__body-procedure.dots__body-face
.wrapper
    section.companies
        .container.container-companies
            ul.companies__list
                li.companies__item.companies__item-mychway
                    .companies__frame.companies__frame-mychway
                        .companies__group.companies__group-mychway
                            h2.companies__name.companies__name-mychway Mychway
                            p.companies__blur.companies__blur-mychway Mychway
                li.companies__item.companies__item-auro
                    .companies__frame.companies__frame-auro
                        .companies__group.companies__group-auro
                            h2.companies__name.companies__name-auro AURO
                            p.companies__blur.companies__blur-auro AURO
                li.companies__item.companies__item-salonart
                    .companies__frame.companies__frame-salonart
                        .companies__group.companies__group-salonart
                            h2.companies__name.companies__name-salonart SalonArt
                            p.companies__blur.companies__blur-salonart SalonArt
                li.companies__item.companies__item-vibro
                    .companies__frame.companies__frame-vibro
                        .companies__group.companies__group-vibro
                            h2.companies__name.companies__name-vibro Vibro
                            p.companies__blur.companies__blur-vibro Vibro
                li.companies__item.companies__item-drceuracle
                    .companies__frame.companies__frame-drceuracle
                        .companies__group.companies__group-drceuracle
                            h2.companies__name.companies__name-drceuracle Dr.Ceuracle
                            p.companies__blur.companies__blur-drceuracle Dr.Ceuracle
    section.info
        .container.container-info
            .info__slider
                .slider.slider-info
                    .slider__items.slider__items-info
                        .slider__item.slider__item-info
                            .slider__inner.slider-info__inner
                                .slider__slide.slider__slide-info
                                    a.slider__link.slider__link-info(href='#')
                                        svg#info-svg1.slider__svg.slider__svg-info(x='0' y='0' width='440' height='290' viewbox='0 0 440 290' xmlns='http://www.w3.org/2000/svg' fill='none')
                                            defs
                                                g#svg-group1
                                                    path#path1-1(d='M32.5 51C32.5 39.1259 42.1259 29.5 54 29.5H402C405.038 29.5 407.5 31.9624 407.5 35V239C407.5 250.874 397.874 260.5 386 260.5H38C34.9624 260.5 32.5 258.038 32.5 255V51Z' fill='url(#paint0_linear_167_1734)' stroke='url(#paint1_linear_167_1734)')
                                                    path#path-circle1(d='M0,0 L 0,-86 C 0,-86 0,-92 -6,-92 L -353,-92 C -353,-92 -375,-92 -375,-70' fill='none' ctroke='none')
                                                    path#path-circle2(d='M0,0 L -184,0 C -184,0 -190,0 -190,-6 L -190,-209 C -190,-209 -190,-231 -168,-231.5' fill='none' ctroke='none')
                                                    rect#rect1-1(x='18.75' y='15.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint2_linear_167_1734)' stroke-width='1.5')
                                                    rect#rect2-1(x='0.75' y='0.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint3_linear_167_1734)' stroke-width='1.5')
                                                    circle#circle1-1(cx='407' cy='121' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                    animatemotion#circle1-1-animpath(xlink:href='#circle1-1' dur='8.5s' repeatcount='indefinite' begin='0s' fill='remove' restart='whenNotActive')
                                                        mpath(xlink:href='#path-circle1')
                                                    animate#circle1-1-animr(xlink:href='#circle1-1' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='0s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#circle1-1-animfill(xlink:href='#circle1-1' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='0s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    circle#circle2-1(cx='222' cy='260' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                    animatemotion#circle2-1-animpath(xlink:href='#circle2-1' dur='8.5s' repeatcount='indefinite' begin='0s' fill='remove' restart='whenNotActive')
                                                        mpath(xlink:href='#path-circle2')
                                                    animate#circle2-1-animr(xlink:href='#circle2-1' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' begin='0s' repeatcount='indefinite' fill='remove' restart='whenNotActive' dur='8.5s')
                                                    animate#circle2-1-animfill(xlink:href='#circle2-1' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='0s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#rect1-1-animx(xlink:href='#rect1-1' attributetype='XML' attributename='x' from='18.75' to='18.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='10s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect1-1-animy(xlink:href='#rect1-1' attributetype='XML' attributename='y' from='15.75' to='15.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='10s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect2-1-animx(xlink:href='#rect2-1' attributetype='XML' attributename='x' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='10s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect2-1-animy(xlink:href='#rect2-1' attributetype='XML' attributename='y' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='10s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#title1-1-animx(xlink:href='#title1-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 226; 216; 224; 218; 222; 220; 220' dur='8.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#text1-1-animx(xlink:href='#text1-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 218; 220; 222; 224; 222; 220; 220' dur='8.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#title1-2-animx(xlink:href='#title1-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 222; 224; 226; 228; 230; 220; 220' dur='8.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#text1-2-animx(xlink:href='#text1-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 214; 216; 218; 220; 222; 220; 220' dur='8.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                g#svg-group2
                                                    path#path1-2(d='M32.5 51C32.5 39.1259 42.1259 29.5 54 29.5H402C405.038 29.5 407.5 31.9624 407.5 35V239C407.5 250.874 397.874 260.5 386 260.5H38C34.9624 260.5 32.5 258.038 32.5 255V51Z' fill='url(#paint0_linear_167_1734)' stroke='url(#paint1_linear_167_1734)')
                                                    rect#rect1-2(x='18.75' y='15.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint2_linear_167_1734)' stroke-width='1.5')
                                                    rect#rect2-2(x='0.75' y='0.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint3_linear_167_1734)' stroke-width='1.5')
                                                    circle#circle1-2(cx='407' cy='121' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                    animatemotion#circle1-2-animpath(xlink:href='#circle1-2' dur='8.5s' repeatcount='indefinite' begin='3s' fill='remove' restart='whenNotActive')
                                                        mpath(xlink:href='#path-circle1')
                                                    animate#circle1-2-animr(xlink:href='#circle1-2' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='3s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#circle1-2-animfill(xlink:href='#circle1-2' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='3s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    circle#circle2-2(cx='222' cy='260' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                    animatemotion#circle2-2-animpath(xlink:href='#circle2-2' dur='8.5s' repeatcount='indefinite' begin='3s' fill='remove' restart='whenNotActive')
                                                        mpath(xlink:href='#path-circle2')
                                                    animate#circle2-2-animr(xlink:href='#circle2-2' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='3s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#circle2-2-animfill(xlink:href='#circle2-2' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='3s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#rect1-2-animx(xlink:href='#rect1-2' attributetype='XML' attributename='x' from='18.75' to='18.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='11s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect1-2-animy(xlink:href='#rect1-2' attributetype='XML' attributename='y' from='15.75' to='15.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='11s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect2-2-animx(xlink:href='#rect2-2' attributetype='XML' attributename='x' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='11s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect2-2-animy(xlink:href='#rect2-2' attributetype='XML' attributename='y' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='11s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#title2-1-animx(xlink:href='#title2-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 226; 216; 224; 218; 222; 220; 220' dur='8.5s' begin='11.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#text2-1-animx(xlink:href='#text2-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 218; 220; 222; 224; 222; 220; 220' dur='8.5s' begin='11.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#title2-2-animx(xlink:href='#title2-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 222; 224; 226; 228; 230; 220; 220' dur='8.5s' begin='11.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#text2-2-animx(xlink:href='#text2-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 214; 216; 218; 220; 222; 220; 220' dur='8.5s' begin='11.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                g#svg-group3
                                                    path#path1-3(d='M32.5 51C32.5 39.1259 42.1259 29.5 54 29.5H402C405.038 29.5 407.5 31.9624 407.5 35V239C407.5 250.874 397.874 260.5 386 260.5H38C34.9624 260.5 32.5 258.038 32.5 255V51Z' fill='url(#paint0_linear_167_1734)' stroke='url(#paint1_linear_167_1734)')
                                                    rect#rect1-3(x='18.75' y='15.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint2_linear_167_1734)' stroke-width='1.5')
                                                    rect#rect2-3(x='0.75' y='0.75' width='420.5' height='273.5' rx='34.25' stroke='url(#paint3_linear_167_1734)' stroke-width='1.5')
                                                    circle#circle1-3(cx='407' cy='121' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                    animatemotion#circle1-3-animpath(xlink:href='#circle1-3' dur='8.5s' repeatcount='indefinite' begin='6s' fill='remove' restart='whenNotActive')
                                                        mpath(xlink:href='#path-circle1')
                                                    animate#circle1-3-animr(xlink:href='#circle1-3' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='6s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#circle1-3-animfill(xlink:href='#circle1-3' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='6s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    circle#circle2-3(cx='222' cy='260' r='0.5' fill='#841799' stroke='#841799' stroke-width='0.5')
                                                    animatemotion#circle2-3-animpath(xlink:href='#circle2-3' dur='8.5s' repeatcount='indefinite' begin='6s' fill='remove' restart='whenNotActive')
                                                        mpath(xlink:href='#path-circle2')
                                                    animate#circle2-3-animr(xlink:href='#circle2-3' attributetype='XML' attributename='r' keytimes='0; 0.1; 0.95; 0.96; 0.97; 1' values='0.5; 2; 2; 10; 0.1; 0.1' dur='8.5s' begin='6s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#circle2-3-animfill(xlink:href='#circle2-3' attributetype='XML' attributename='fill' from='#841799' to='#fff' dur='8.5s' begin='6s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#rect1-3-animx(xlink:href='#rect1-3' attributetype='XML' attributename='x' from='18.75' to='18.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='12s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect1-3-animy(xlink:href='#rect1-3' attributetype='XML' attributename='y' from='15.75' to='15.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='12s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect2-3-animx(xlink:href='#rect2-3' attributetype='XML' attributename='x' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='12s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#rect2-3-animy(xlink:href='#rect2-3' attributetype='XML' attributename='y' from='0.75' to='0.75' values='' keytimes='0; 0.5; 1' keysplines='.42 0 1 1; 0 0 .59 1;' dur='12s' begin='0s' repeatcount='indefinite' fill='freeze' restart='whenNotActive')
                                                    animate#title3-1-animx(xlink:href='#title3-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 226; 216; 224; 218; 222; 220; 220' dur='14.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#text3-1-animx(xlink:href='#text3-1' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 218; 220; 222; 224; 222; 220; 220' dur='14.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#title3-2-animx(xlink:href='#title3-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 222; 224; 226; 228; 230; 220; 220' dur='14.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                    animate#text3-2-animx(xlink:href='#text3-2' attributetype='XML' attributename='x' keytime='0; 0.01; 0.02; 0.03; 0.04; 0.05; 0.06; 1' values='220; 214; 216; 218; 220; 222; 220; 220' dur='14.5s' begin='8.5s' repeatcount='indefinite' fill='remove' restart='whenNotActive')
                                                lineargradient#paint0_linear_167_1734(x1='220' y1='29' x2='220' y2='261' gradientunits='userSpaceOnUse')
                                                    stop(stop-color='#E8CCEE')
                                                    stop(offset='0.387873' stop-color='#F0E1F4')
                                                    stop(offset='0.490872' stop-color='#F2E7F6')
                                                    stop(offset='0.599364' stop-color='#F0E1F3')
                                                    stop(offset='1' stop-color='#E8CCEE')
                                                lineargradient#paint1_linear_167_1734(x1='-376.696' y1='-228.268' x2='282.892' y2='646.91' gradientunits='userSpaceOnUse')
                                                    stop(offset='0.461286' stop-color='#841799')
                                                    stop(offset='0.684967' stop-color='#831598' stop-opacity='0')
                                                    stop(offset='0.685008' stop-color='#831598')
                                                lineargradient#paint2_linear_167_1734(x1='-440.696' y1='-289.951' x2='351.893' y2='705.801' gradientunits='userSpaceOnUse')
                                                    stop(offset='0.461286' stop-color='#841799')
                                                    stop(offset='0.659701' stop-color='#831598' stop-opacity='0')
                                                    stop(offset='0.660524' stop-color='#831598')
                                                lineargradient#paint3_linear_167_1734(x1='-458.696' y1='-304.951' x2='333.893' y2='690.801' gradientunits='userSpaceOnUse')
                                                    stop(offset='0.461286' stop-color='#841799')
                                                    stop(offset='0.702083' stop-color='#831598' stop-opacity='0')
                                                    stop(offset='0.702183' stop-color='#831598')
                                            use(xlink:href='#svg-group1' x='0' y='0' viewbox='0 0 440 290')
                                            text#title1-1.slider__svg-title(text-anchor='middle' x='220' y='94')
                                                | &Pcy;&rcy;&ocy;&dcy;&ocy;&lcy;&zhcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
                                            text#text1-1.slider__svg-text(text-anchor='middle' x='220' y='124')
                                                | &ocy;&tcy; 25 &dcy;&ocy; 60 &mcy;&icy;&ncy;
                                            text#title1-2.slider__svg-title(text-anchor='middle' x='220' y='174')
                                                | &Rcy;&iecy;&kcy;&ocy;&mcy;&iecy;&ncy;&dcy;&ucy;&iecy;&mcy;&ycy;&jcy; &kcy;&ucy;&rcy;&scy;
                                            text#text1-2.slider__svg-text(text-anchor='middle' x='220' y='204')
                                                | 12-16 &scy;&iecy;&acy;&ncy;&scy;&ocy;&vcy;
                                .slider__slide.slider__slide-info
                                    a.slider__link.slider__link-info(href='#')
                                        svg.slider__svg.slider__svg-info(x='0' y='0' width='440' height='290' viewbox='0 0 440 290' xmlns='http://www.w3.org/2000/svg' fill='none')
                                            use(xlink:href='#svg-group2' x='0' y='0' viewbox='0 0 440 290')
                                            text#title2-1.slider__svg-title(text-anchor='middle' x='220' y='94')
                                                | &Acy;&ncy;&iecy;&scy;&tcy;&iecy;&zcy;&icy;&yacy;
                                            text#text2-1.slider__svg-text(text-anchor='middle' x='220' y='124')
                                                | &Ncy;&iecy; &tcy;&rcy;&iecy;&bcy;&ucy;&iecy;&tcy;&scy;&yacy;
                                            text#title2-2.slider__svg-title(text-anchor='middle' x='220' y='174')
                                                | &Pcy;&rcy;&iecy;&pcy;&acy;&rcy;&acy;&tcy;&ycy;
                                            text#text2-2.slider__svg-text(text-anchor='middle' x='220' y='204')
                                                | &Ncy;&iecy; &icy;&scy;&pcy;&ocy;&lcy;&softcy;&zcy;&ucy;&yucy;&tcy;&scy;&yacy;
                                .slider__slide.slider__slide-info
                                    a.slider__link.slider__link-info(href='#')
                                        svg.slider__svg.slider__svg-info(x='0' y='0' width='440' height='290' viewbox='0 0 440 290' xmlns='http://www.w3.org/2000/svg' fill='none')
                                            use(xlink:href='#svg-group3' x='0' y='0' viewbox='0 0 440 290')
                                            text#title3-1.slider__svg-title(text-anchor='middle' x='220' y='94')
                                                | &Pcy;&iecy;&rcy;&icy;&ocy;&dcy;&icy;&chcy;&ncy;&ocy;&scy;&tcy;&softcy;
                                            text#text3-1.slider__svg-text(text-anchor='middle' x='220' y='124')
                                                | 4 &rcy;&acy;&zcy;&acy; &vcy; &ncy;&iecy;&dcy;&iecy;&lcy;&yucy;
                                            text#title3-2.slider__svg-title(text-anchor='middle' x='220' y='174')
                                                | &Ecy;&fcy;&fcy;&iecy;&kcy;&tcy; &ncy;&acy;&scy;&tcy;&ucy;&pcy;&acy;&iecy;&tcy;
                                            text#text3-2.slider__svg-text(text-anchor='middle' x='220' y='204')
                                                | &vcy; &tcy;&iecy;&chcy;&iecy;&ncy;&icy;&icy; &kcy;&ucy;&rcy;&scy;&acy;
                .dots.dots-info
                    .dots__body.dots__body-info
.wrapper.wrapper__certificares
    section.certificates
        .container.container-certificates
            .certificates__slider
                .slider.slider-certificates
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate1.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate2.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate3.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate4.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate5.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate6.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate7.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate8.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate9.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate10.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate11.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate12.jpg') alt='')
                    .slider__slide.slider__slide-certificates
                        a.slider__link.slider__link-certificates.popup-link(href='#popup-e')
                            img.slider__card.slider__card-certificates(src=require('./images/certificate13.jpg') alt='')
                .dots
                    .dots__body.dots__body-certificates
.wrapper
    footer.footer
        .container
            .footer__reletive
                .footer__section1
                    .footer__menu
                        .footer__inner.footer__inner-column
                            .footer__column.footer__column-1
                                menu.menu.menu-footer
                                    li.menu__item.menu__item-section1
                                        a.menu__link.menu__link-section1.popup-link(href='#popup-h') &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
                            .footer__column.footer__column-2
                                menu.menu.menu-footer
                                    li.menu__item.menu__item-section1
                                        a.menu__link.menu__link-section1.menu__link-block(href='#' data-block='#procedures' data-tab='href='#tab-b'')
                                            | &Ucy;&scy;&lcy;&ucy;&gcy;&icy; &dcy;&lcy;&yacy; &tcy;&iecy;&lcy;&acy;
                                    li.menu__item.menu__item-section1
                                        a.menu__link.menu__link-section1.menu__link-block(href='#' data-block='#procedures' data-tab='href='#tab-f'')
                                            | &Ucy;&scy;&lcy;&ucy;&gcy;&icy; &dcy;&lcy;&yacy; &lcy;&icy;&tscy;&acy;
                            .footer__column.footer__column-3
                                menu.menu.menu-footer
                                    li.menu__item.menu__item-section1
                                        a.menu__link.menu__link-section1.popup-link(href='#popup-b')
                                            | &Scy;&vcy;&ocy;&bcy;&ocy;&dcy;&ncy;&ycy;&iecy;
                                            | &ocy;&kcy;&ocy;&shcy;&kcy;&icy;
                                    li.menu__item.menu__item-section1
                                        a.menu__link.menu__link-section1.popup-link(href='#popup-g')
                                            | &Vcy;&ycy;&iecy;&zcy;&dcy;
                                            | &ncy;&acy; &dcy;&ocy;&mcy;
                                    li.menu__item.menu__item-section1
                                        a.menu__link.menu__link-section1.popup-link(href='#popup-f') &Acy;&kcy;&tscy;&icy;&icy;
                .footer__section2
                    .footer__inner.footer__inner-section2
                        .footer__copyright
                            .footer__inner.footer__inner-left
                                .footer__logo
                                    a.footer__link.footer__link-logo(href='adminka-panel.html')
                                        img.logo.logo-footer(src=require('./images/logo-footer.png') alt='SNV')
                                .footer__copy
                                    p.footer__p.footer__p-copy
                                        | &amp;#169 
                                        span#year.footer__year 2024
                                        |  SNV -
                                        |                       &acy;&pcy;&pcy;&acy;&rcy;&acy;&tcy;&ncy;&acy;&yacy; &kcy;&ocy;&rcy;&rcy;&iecy;&kcy;&tscy;&icy;&yacy; &fcy;&icy;&gcy;&ucy;&rcy;&ycy;
                                    p.footer__p.footer__p-copy &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;
                        .footer__warning
                            .footer__inner.footer__inner-warning
                                p.footer__p.footer__p-warning &Icy;&mcy;&iecy;&yucy;&tcy;&scy;&yacy; &pcy;&rcy;&ocy;&tcy;&icy;&vcy;&ocy;&pcy;&ocy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&yacy;.
                                p.footer__p.footer__p-warning &Ncy;&iecy;&ocy;&bcy;&khcy;&ocy;&dcy;&icy;&mcy;&acy; &kcy;&ocy;&ncy;&scy;&ucy;&lcy;&softcy;&tcy;&acy;&tscy;&icy;&yacy; &scy;&pcy;&iecy;&tscy;&icy;&acy;&lcy;&icy;&scy;&tcy;&acy;.
                .footer__section3
                    .footer__icons
                        menu.icons.icons-footer
                            li.icons__item.icons__item-footer.icons__item-whatsapp
                                a.icons__link.icons__link-footer.icons__link-whatsapp(href='#')
                                #icon-line-watsapp.icons__line.icons__line-footer
                            li.icons__item.icons__item-footer.icons__item-telegram
                                a.icons__link.icons__link-footer.icons__link-telegram(href='#')
                                #icon-line-telegram.icons__line.icons__line-footer
                            li.icons__item.icons__item-footer.icons__item-checkmark
                                a.icons__link.icons__link-footer.icons__link-checkmark.popup-link(href='#popup-d')
                                #icon-line-checkmark.icons__line.icons__line-footer
                .footer__section4
                    .footer__phone
                        a.footer__link-phone(href='tel:+79182669130') +7 918 266 91 30
section.popups
    #popup-a.popup
        .popup__body.popup__body-a
            .popup__close
                a.popup__link.popup__link-close.popup-close(href='#')
                    img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
            .popup__content
                .content
                    .content__body
                        .content__article
                            article#article-procedure.article
                                .article__body
                                    h2#article-title.article__title &Pcy;&rcy;&ocy;&kcy;&acy;&chcy;&kcy;&acy; &mcy;&ycy;&shcy;&tscy;
                                    .article__content
                                        #procedure.article__block
                                            h3#procedure-title.article__title.article__title-sub.article__title-procedure
                                                | &Mcy;&icy;&kcy;&rcy;&ocy;&icy;&gcy;&ocy;&lcy;&softcy;&chcy;&acy;&tcy;&ycy;&jcy; RF
                                                | &lcy;&icy;&fcy;&tcy;&icy;&ncy;
                                            #procedure-content.article__procedure
                                                p#procedure-p.article__p
                                                    span.article__span.article__span-machine
                                                        | EMS (Electric
                                                        | Mio Stimulation)
                                                    |                             &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &acy;&pcy;&pcy;&acy;&rcy;&acy;&tcy; &pcy;&ocy;&mcy;&ocy;&gcy;&acy;&iecy;&tcy; &scy;&ocy;&zcy;&dcy;&acy;&tcy;&softcy; &bcy;&ocy;&lcy;&iecy;&iecy; &scy;&tcy;&rcy;&ocy;&jcy;&ncy;&ocy;&iecy; &tcy;&iecy;&lcy;&ocy;, &scy;&dcy;&iecy;&lcy;&acy;&tcy;&softcy; &iecy;&gcy;&ocy;
                                                    |                             &pcy;&ocy;&dcy;&tcy;&yacy;&ncy;&ucy;&tcy;&ycy;&mcy;, &pcy;&rcy;&ocy;&rcy;&acy;&bcy;&ocy;&tcy;&acy;&tcy;&softcy; &kcy;&ocy;&ncy;&tcy;&ucy;&rcy;&ycy;, &acy; &tcy;&acy;&kcy;&zhcy;&iecy;
                                                    |                             &ucy;&mcy;&iecy;&ncy;&softcy;&shcy;&icy;&tcy;&softcy;
                                                    |                             &zhcy;&icy;&rcy;&ocy;&vcy;&ycy;&iecy; &ocy;&tcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&yacy; , &ocy;&dcy;&ncy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy; &pcy;&rcy;&ocy;&kcy;&acy;&chcy;&icy;&vcy;&acy;&yacy; &mcy;&ycy;&shcy;&tscy;&ycy;, &scy;&kcy;&rcy;&ycy;&vcy;&acy;&yucy;&shchcy;&icy;&iecy;&scy;&yacy;
                                                    |                             &pcy;&ocy;&dcy; &ncy;&icy;&mcy;&icy;.
                                        #image.article__block
                                            h3#procedure-title.article__title.article__title-sub
                                            #image-content.article__image
                                                img#image-procedre.article__image(src=require('./images/fr-lifting.png') alt='')
                                        #indications.article__block
                                            h3#indications-title.article__title.article__title-sub
                                                | &Pcy;&rcy;&iecy;&icy;&mcy;&ucy;&shchcy;&iecy;&scy;&tcy;&vcy;&acy;
                                            #indications-content.article__indications
                                                ul#indications-items.article__items
                                                    li#indications-item1.article__item
                                                        p#indications-p1.article__p.article__p-item
                                                            | &ucy;&lcy;&ucy;&chcy;&shcy;&iecy;&ncy;&icy;&iecy; &scy;&ocy;&scy;&tcy;&ocy;&yacy;&ncy;&icy;&yacy; &mcy;&ycy;&shcy;&tscy;
                                                    li#indications-item2.article__item
                                                        p#indications-p2.article__p.article__p-item
                                                            | &ucy;&scy;&tcy;&rcy;&acy;&ncy;&iecy;&ncy;&icy;&iecy; &icy;&zcy;&lcy;&icy;&shcy;&kcy;&ocy;&vcy; &zhcy;&icy;&rcy;&ocy;&vcy;&ycy;&khcy; &ocy;&tcy;&lcy;&ocy;&zhcy;&iecy;&ncy;&icy;&jcy; &vcy; &ocy;&bcy;&lcy;&acy;&scy;&tcy;&icy;
                                                            | &zhcy;&icy;&vcy;&ocy;&tcy;&acy;,&yacy;&gcy;&ocy;&dcy;&icy;&tscy;,&rcy;&ucy;&kcy; &icy; &ncy;&ocy;&gcy;
                                                    li#indications-item3.article__item
                                                        p#indications-p3.article__p.article__p-item
                                                            | &zhcy;&icy;&vcy;&ocy;&tcy;&acy;,&yacy;&gcy;&ocy;&dcy;&icy;&tscy;,&rcy;&ucy;&kcy; &icy; &ncy;&ocy;&gcy;
                                                    li#indications-item4.article__item
                                                        p#indications-p4.article__p.article__p-item
                                                            | &ucy;&kcy;&rcy;&iecy;&pcy;&lcy;&iecy;&ncy;&icy;&iecy; &mcy;&ycy;&shcy;&tscy; &zhcy;&icy;&vcy;&ocy;&tcy;&acy; &pcy;&ocy;&scy;&lcy;&iecy; &rcy;&ocy;&dcy;&ocy;&vcy;
                                                    li#indications-item5.article__item
                                                        p#indications-p5.article__p.article__p-item
                                                            | &ncy;&iecy; &tcy;&rcy;&iecy;&bcy;&ucy;&iecy;&tcy; &rcy;&iecy;&acy;&bcy;&icy;&lcy;&icy;&tcy;&acy;&tscy;&icy;&icy;
                                                    li#indications-item6.article__item
                                                        p#indications-p6.article__p.article__p-item
                                                            | &dcy;&lcy;&icy;&tcy;&iecy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy; &pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;&ycy; 30 &mcy;&icy;&ncy;&ucy;&tcy;
                                                    li#indications-item7.article__item
                                                        p#indications-p7.article__p.article__p-item
                                                            | &icy;&zcy;&mcy;&iecy;&ncy;&iecy;&ncy;&icy;&yacy; &ucy;&zhcy;&iecy; &pcy;&ocy;&scy;&lcy;&iecy; &pcy;&iecy;&rcy;&vcy;&ocy;&jcy; &pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;&ycy;
                                        #contraindications.article__block
                                            h3#contraindications-title.article__title.article__title-sub
                                                | &Pcy;&rcy;&ocy;&tcy;&icy;&vcy;&ocy;&pcy;&ocy;&kcy;&acy;&zcy;&acy;&ncy;&icy;&yacy;
                                            #contraindications-content.article__contraindications
                                                ul#contraindications-items.article__items
                                                    li#contraindications-item1.article__item
                                                        p#contraindications-p1.article__p.article__p-item
                                                            | &ncy;&acy;&lcy;&icy;&chcy;&icy;&iecy; &kcy;&acy;&rcy;&dcy;&icy;&ocy;&scy;&tcy;&icy;&mcy;&ucy;&lcy;&yacy;&tcy;&ocy;&rcy;&acy;
                                                    li#contraindications-item2.article__item
                                                        p#contraindications-p2.article__p.article__p-item
                                                            | &ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&ycy;&iecy; &icy; &mcy;&iecy;&tcy;&acy;&lcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &icy;&mcy;&pcy;&lcy;&acy;&ncy;&tcy;&ycy;
                                                    li#contraindications-item3.article__item
                                                        p#contraindications-p3.article__p.article__p-item
                                                            | &lcy;&iocy;&gcy;&ocy;&chcy;&ncy;&acy;&yacy; &ncy;&iecy;&dcy;&ocy;&scy;&tcy;&acy;&tcy;&ocy;&chcy;&ncy;&ocy;&scy;&tcy;&softcy;
                                                    li#contraindications-item4.article__item
                                                        p#contraindications-p4.article__p.article__p-item
                                                            | &bcy;&iecy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ocy;&scy;&tcy;&softcy;
                                                    li#contraindications-item5.article__item
                                                        p#contraindications-p5.article__p.article__p-item
                                                            | &ncy;&iecy;&dcy;&acy;&vcy;&ncy;&ocy; &pcy;&rcy;&ocy;&vcy;&iecy;&dcy;&iocy;&ncy;&ncy;&ycy;&iecy; &khcy;&icy;&rcy;&ucy;&rcy;&gcy;&icy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &ocy;&pcy;&iecy;&rcy;&acy;&tscy;&icy;&icy;
                                        #price.article__block
                                            h3#price-title.article__title.article__title-sub
                                                | &Pcy;&rcy;&acy;&jcy;&scy;
                                            #price-content.article__price
                                                ul#price-items.article__items
                                                    li#price-item1.article__item.article__item-price
                                                        p#price-p1.article__p.article__p-item
                                                            | 1 &Pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;&acy;
                                                        p#price-p11.article__p.article__p-item
                                                            | 2 500
                                                    li#price-item2.article__item.article__item-price
                                                        p#price-p2.article__p.article__p-item
                                                            | 5 &Pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;
                                                        p#price-p21.article__p.article__p-item
                                                            | 10 000
                                                    li#price-item3.article__item.article__item-price
                                                        p#price-p3.article__p.article__p-item
                                                            | 10 &Pcy;&rcy;&ocy;&tscy;&iecy;&dcy;&ucy;&rcy;
                                                        p#price-p31.article__p.article__p-item
                                                            | 22 000
                            #content-article.content__wranning.content__wranning-article
                                .content__inner-article
                                    p#p-article.content__p.content__p-article
                                        | &Ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&jcy;&tcy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                                    phone#phone-article.content__phone.content__phone-article
                                        a.content__number.content__number-article(href='tel:+79182669130') +7 918 266 91 30
    #popup-b.popup
        .popup__body.popup__body-b
            .popup__close
                a.popup__link.popup__link-close.popup-close(href='#')
                    img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
            .popup__content
                .content
                    .content__body
                        .content__table
                            table#table-windows.table
                                caption#caption-windows.table__caption.table__caption-windows
                                    | &Scy;&vcy;&ocy;&bcy;&ocy;&dcy;&ncy;&ycy;&iecy; &ocy;&kcy;&ocy;&shcy;&kcy;&icy;
                                thead.table__header.table__header-windows
                                    tr.table__tr.table__tr-header
                                        th.table__th.table__th-corner.table__th-topleft.table__th-sticky
                                        th.table__th.table__th-header.table__th-sticky &Pcy;&Ncy;
                                        th.table__th.table__th-header.table__th-sticky &Vcy;&Tcy;
                                        th.table__th.table__th-header.table__th-sticky &Scy;&Rcy;
                                        th.table__th.table__th-header.table__th-sticky &CHcy;&Tcy;
                                        th.table__th.table__th-header.table__th-sticky &Pcy;&Tcy;
                                        th.table__th.table__th-header.table__th-sticky &Scy;&Bcy;
                                        th.table__th.table__th-header.table__th-sticky &Vcy;&Scy;
                                        th#th-topright.table__th.table__th-corner.table__th-topright.table__th-sticky
                                tbody#tbody-windows.table__body.table__body-windows
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__border-bottom.table__th-first
                                            | |
                                        td.table__td.table__td-body.table__border-bottom
                                            | 13
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                            | 9
                                            sup.table__sup-body 30
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        th.table__th.table__th-last.table__border-bottom
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__border-bottom.table__th-first
                                            | ||
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                            | 15
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        th.table__th.table__th-last.table__border-bottom
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__border-bottom.table__th-first
                                            | ||
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                            | 15
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        th.table__th.table__th-last.table__border-bottom
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__border-bottom.table__th-first
                                            | ||
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                            | 15
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        th.table__th.table__th-last.table__border-bottom
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__border-bottom.table__th-first
                                            | ||
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                            | 15
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        th.table__th.table__th-last.table__border-bottom
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__border-bottom.table__th-first
                                            | ||
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                            | 15
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        th.table__th.table__th-last.table__border-bottom
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__border-bottom.table__th-first
                                            | ||
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                            | 15
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        th.table__th.table__th-last.table__border-bottom
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__border-bottom.table__th-first
                                            | ||
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                            | 15
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        td.table__td.table__td-body.table__border-bottom
                                        th.table__th.table__th-last.table__border-bottom
                                    tr.table__tr.table__tr-body
                                        th.table__th.table__th-body.table__th-first ||
                                        td.table__td.table__td-body
                                        td.table__td.table__td-body
                                        td.table__td.table__td-body
                                        td.table__td.table__td-body
                                            | 15
                                            sup.table__sup-body 00
                                        td.table__td.table__td-body
                                        td.table__td.table__td-body
                                        td.table__td.table__td-body
                                        th.table__th.table__th-last
                                tfoot.table__footer.table__footer-windows
                                    tr.table__tr.table__tr-footer
                                        th.table__th.table__th-corner.table__th-bottomleft.table__th-sticky
                                        th.table__th.table__th-footer.table__th-sticky 12.02
                                        th.table__th.table__th-footer.table__th-sticky 13.02
                                        th.table__th.table__th-footer.table__th-sticky 14.02
                                        th.table__th.table__th-footer.table__th-sticky 15.02
                                        th.table__th.table__th-footer.table__th-sticky 16.02
                                        th.table__th.table__th-footer.table__th-sticky 17.02
                                        th.table__th.table__th-footer.table__th-sticky 18.02
                                        th#th-bottomright.table__th.table__th-corner.table__th-bottomright.table__th-sticky
                            #content-windows.content__wranning.content__wranning-windows
                                .content__inner.content__inner-windows
                                    p#p-windows.content__p.content__p-windows
                                        | &Ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&jcy;&tcy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                                    phone#phone-windows.content__phone.content__phone-windows
                                        a.content__number.content__number-windows(href='tel:+79182669130') +7 918 266 91 30
    #popup-c.popup
        .popup__body.popup__body-c
            .popup__close
                a.popup__link.popup__link-close.popup-close(href='#')
                    img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
            .popup__content
                .content
                    .content__body
                        .content__phone
                            #phone.phone
                                .phone__inner
                                    .phone__icon
                                        img#phone-img.phone__img(src=require('./images/icon-popup-c.svg') alt='')
                                    phone.phone__items
                                        a.phone__number(href='tel:+79182669130') +7 918 266 91 30
    #popup-d.popup
        .popup__body.popup__body-d
            .popup__close
                a.popup__link.popup__link-close.popup-close(href='#')
                    img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
            .popup__content
                .content
                    .content__body
                        .content__message
                            #message.message
                                .message__inner
                                    .message__icon
                                        img#messege-img.message__img(src=require('./images/icon-popup-d.svg') alt='')
                                    .message__content
                                        p#message-p.message__p
                                            | &Ncy;&iecy; &ocy;&tcy;&kcy;&lcy;&dcy;&ycy;&vcy;&acy;&jcy; &ncy;&acy; &zcy;&acy;&vcy;&tcy;&rcy;&acy; &tcy;&ocy;, &chcy;&tcy;&ocy; &mcy;&ocy;&zhcy;&ncy;&ocy; &ncy;&acy;&chcy;&acy;&tcy;&softcy; &scy;&iecy;&gcy;&ocy;&dcy;&ncy;&yacy;.
    #popup-e.popup
        .popup__body.popup__body-e
            .popup__close
                a.popup__link.popup__link-close.popup-close(href='#')
                    img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
            .popup__content
                .content
                    .content__body
                        .content__image
                            #image.image
                                .image__content
                                    img#image-img.image__img(src=require('./images/certificate6.jpg') alt='')
    #popup-f.popup
        .popup__body.popup__body-f
            .popup__close
                a.popup__link.popup__link-close.popup-close(href='#')
                    img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
            .popup__content
                .content
                    .content__body
                        .content__stock
                            #stock.stock
                                h2#stock-title.stock__title &Acy;&kcy;&tscy;&icy;&yacy;
                                .stock__slider
                                    .slider.slider-stock
                                        .slider__items.slider__items-stock
                                            .slider__item.slider__item-stock
                                                .slider__slide.slider__slide-stock
                                                    .slide.slide-stock
                                                        .slide__content.slide__content-stock
                                                            p#slide-stock1.slide__stock
                                                                | &ZHcy;&iocy;&ncy;&acy;&mcy; &vcy;&ocy;&iecy;&ncy;&ncy;&ycy;&khcy; &icy;&lcy;&icy; &ucy;&chcy;&acy;&scy;&tcy;&ncy;&icy;&kcy;&ocy;&vcy; &Scy;&Vcy;&Ocy; &scy;&kcy;&icy;&dcy;&kcy;&acy;
                                                            p#slide-value1.slide__value
                                                                span.slide__span.slide__span-num 10
                                                                span.slide__span.slide__span-symbol %
                                                .slider__slide.slider__slide-stock
                                                    .slide.slide-stock
                                                        .slide__content.slide__content-stock
                                                            p#slide-stock1.slide__stock
                                                                | &Pcy;&iecy;&rcy;&vcy;&ycy;&jcy; &rcy;&acy;&zcy; &ucy; &ncy;&acy;&scy;! &Scy;&ecy;&kcy;&ocy;&ncy;&ocy;&mcy;&softcy;
                                                            p#slide-value1.slide__value
                                                                span.slide__span.slide__span-num 15
                                                                span.slide__span.slide__span-symbol %
                                                .slider__slide.slider__slide-stock
                                                    .slide.slide-stock
                                                        .slide__content.slide__content-stock
                                                            p#slide-stock1.slide__stock
                                                                | &Scy; &Dcy;&ncy;&iocy;&mcy; &Rcy;&ocy;&zhcy;&dcy;&iecy;&ncy;&icy;&yacy;! &Pcy;&ocy;&lcy;&ucy;&chcy;&icy; &scy;&kcy;&icy;&dcy;&kcy;&ucy; &vcy; &pcy;&ocy;&dcy;&acy;&rcy;&ocy;&kcy;
                                                            p#slide-value1.slide__value
                                                                span.slide__span.slide__span-num 20
                                                                span.slide__span.slide__span-symbol %
                            #content-stock.content__wranning.content__wranning-stock
                                .content__inner.content__inner-stock
                                    p#p-stock.content__p.content__p-stock
                                        | &Ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&jcy;&tcy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                                    phone#phone-stock.content__phone.content__phone-stock
                                        a.content__number.content__number-stock(href='tel:+79182669130')
                                            | +7
                                            | 918 266 91 30
    #popup-g.popup
        .popup__body.popup__body-g
            .popup__close
                a.popup__link.popup__link-close.popup-close(href='#')
                    img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
            .popup__content
                .content
                    .content__body
                        .content__home
                            #home.home
                                .home__body
                                    h2#home-title.home__title &Vcy;&ycy;&iecy;&zcy;&dcy; &ncy;&acy; &dcy;&ocy;&mcy;
                                    .home__content
                                        .home__block
                                            h3.home__title.home__title-sub &Mcy;&acy;&scy;&scy;&acy;&zhcy;1
                                            p.home__p
                                                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
                                                | nulla quo, sequi quasi necessitatibus unde
                                                | reiciendis voluptate dolores natus, officiis odit eaque repellendus
                                                | obcaecati ipsum nemo temporibus sit
                                                | corrupti saepe?
                                            img.home__image(src=require('./images/fr-lifting.png') alt='')
                                        .home__block
                                            h3.home__title.home__title-sub &Mcy;&acy;&scy;&scy;&acy;&zhcy;2
                                            p.home__p
                                                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores
                                                | nulla quo, sequi quasi necessitatibus unde
                                                | reiciendis voluptate dolores natus, officiis odit eaque repellendus
                                                | obcaecati ipsum nemo temporibus sit
                                                | corrupti
                                                | saepe?
                                            img.home__image(src=require('./images/fr-lifting.png') alt='')
                            #content-home.content__wranning.content__wranning-home
                                .content__inner.content__inner-home
                                    p#p-home.content__p.content__p-home
                                        | &Ucy;&tcy;&ocy;&chcy;&ncy;&yacy;&jcy;&tcy;&iecy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yucy; &pcy;&ocy; &tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ucy;
                                    phone#phone-home.content__phone.content__phone-home
                                        a.content__number.content__number-home(href='tel:+79182669130')
                                            | +7
                                            | 918 266 91 30
    #popup-h.popup
        .popup__body.popup__body-h
            .popup__close
                a.popup__link.popup__link-close.popup-close(href='#')
                    img.popup__icon.popup__icon-close(src=require('./images/popup-close.svg') alt='закрыть')
            .popup__content
                .content
                    .content__body
                        .content__reviews
                            #reviews.reviews
                                .reviews__body
                                    h2#reviews-title.reviews__title &Ocy;&tcy;&zcy;&ycy;&vcy;&ycy;
                                    .reviews__content
                                        .reviews__block
                                            h3#user1.reviews__title.reviews__title-sub
                                                | &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;
                                            p#reviews1.reviews__p
                                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                | officia laborum voluptate deleniti quidem esse.
                                        .reviews__block
                                            h3#user1.reviews__title.reviews__title-sub
                                                | &IEcy;&fcy;&icy;&mcy;
                                            p#reviews1.reviews__p
                                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                | officia laborum voluptate deleniti quidem esse.
                                        .reviews__block
                                            h3#user1.reviews__title.reviews__title-sub
                                                | &Acy;&lcy;&lcy;&acy;
                                            p#reviews1.reviews__p
                                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                | officia laborum voluptate deleniti quidem esse.
                                        .reviews__block
                                            h3#user1.reviews__title.reviews__title-sub
                                                | &Acy;&lcy;&iecy;&kcy;&scy;&iecy;&jcy;
                                            p#reviews1.reviews__p
                                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                | officia laborum voluptate deleniti quidem esse.
                                        .reviews__block
                                            h3#user1.reviews__title.reviews__title-sub
                                                | &IEcy;&kcy;&acy;&tcy;&iecy;&rcy;&icy;&ncy;&acy;
                                            p#reviews1.reviews__p
                                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                | officia laborum voluptate deleniti quidem esse.
                                        .reviews__block
                                            h3#user1.reviews__title.reviews__title-sub
                                                | &Acy;&scy;&lcy;&acy;&ncy;
                                            p#reviews1.reviews__p
                                                | Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                                | Consequuntur, accusamus ipsa doloribus commodi eaque iure ratione
                                                | delectus voluptatem. Incidunt sed repellendus est aut veritatis
                                                | officia laborum voluptate deleniti quidem esse.
                        #content-reviews.content__wranning.content__wranning-reviews
                            .content__inner.content__inner-reviews
                                p#p-reviews.content__p.content__p-reviews
                                    | &Bcy;&ucy;&dcy;&iecy;&mcy; &rcy;&acy;&dcy;&ycy; &Vcy;&acy;&shcy;&icy;&mcy; &ocy;&tcy;&zcy;&ycy;&vcy;&acy;&mcy; &vcy; &ncy;&acy;&shcy;&icy;&khcy; &scy;&ocy;&tscy;. &scy;&iecy;&tcy;&yacy;&khcy;.
                                .content__icons.content__icons-reviews
                                    .content__inner.content__inner-icots
                                        .content__icon
                                            a#reviews-whatsapp-link.content__link.content__link-reviews(href='')
                                                img#reviews-whatsapp-img.content__img.content__img-whatsapp(src=require('./images/whatsapp-review.svg') alt='')
                                        .content__icon
                                            a#reviews-telegram-link.content__link.content__link-reviews(href='')
                                                img#reviews-telegram-img.content__img.content__img-telegram(src=require('./images/telegram-review.svg') alt='')
