section.main
        .main__inner
            .main__sidebar
                menu.sidebar.sidebar-main
                    li.sidebar__item.sidebar__item-main
                        menu.sidebar.sidebar-sub
                            li.sidebar__item.sidebar__item-sub
                                a.sidebar__link.sidebar__link-sub.popup-link(href='#popup-b') &Ocy;&kcy;&ncy;&acy;
                            li.sidebar__item.sidebar__item-sub
                                a.sidebar__link.sidebar__link-sub.popup-link(href='#popup-f') &Acy;&kcy;&tscy;&icy;&icy;
                    li.sidebar__item.sidebar__item-main
                        a.sidebar__link.sidebar__link-main.popup-link(href='#popup-c') &Pcy;&ocy;&zcy;&vcy;&ocy;&ncy;&icy;&tcy;&softcy;
            .main__icons
                menu.icons.icons-main
                    li.icons__item.icons__item-main
                        a.icons__link.icons__link-main(href='#')
                            img#main-whatsapp-icon.icons__main.icons__main-icon(src=require('../images/whatsapp-review.svg') alt='WhatsApp-icon')
                            img#main-whatsapp-shadow.icons__main.icons__main-shadow(src=require('../images/whatsapp-shadow.svg') alt='WhatsApp-shadom')
                    li.icons__item.icons__item-main
                        a.icons__link.icons__link-main(href='#')
                            img#main-telegram-icon.icons__main.icons__main-icon(src=require('../images/telegram-review.svg') alt='Telegram-icon')
                            img#main-telegram-shadow.icons__main.icons__main-shadow(src=require('../images/telegram-shadow.svg') alt='Telegram-shadow')
                    li.icons__item.icons__item-main
                        a.icons__link.icons__link-main.popup-link(href='#popup-d')
                            img#main-checkmark-icon.icons__main.icons__main-icon(src=require('../images/checkmark-review.svg') alt='Checkmark-icon')
                            img#main-checkmark-shadow.icons__main.icons__main-shadow(src=require('../images/checkmark-shadow.svg') alt='Checkmark-shadow')