section#procedures.procedures
        .container.container-procedures
            .procedures__tabs
                .procedures__menu
                    menu.menu.menu-procedures
                        li.menu__item.menu__item-tab
                            a.menu__link.menu__link-tab(href='#tab-b') &Dcy;&lcy;&yacy; &tcy;&iecy;&lcy;&acy;
                        li.menu__item.menu__item-tab
                            a.menu__link.menu__link-tab(href='#tab-f') &Dcy;&lcy;&yacy; &lcy;&icy;&tscy;&acy;
                #tab-b.tabs.tabs-procedures.tabs-active
                    .tabs__body
                        .tabs__slider
                            .slider.slider-procedures.slider-body
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/body1.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/body2.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/body3.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/body4.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/body5.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/body6.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-body
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/body7.png') alt='Процедура')
                            .dots
                                .dots__body.dots__body-procedure.dots__body-body
                #tab-f.tabs.tabs-procedures
                    .tabs__body
                        .tabs__slider
                            .slider.slider-procedures.slider-face
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face1.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face2.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face3.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face4.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face5.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face6.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face7.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../img/procedures/face/face8.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face9.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face10.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face11.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face12.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('../images/face13.png') alt='Процедура')
                                .slider__slide.slider__slide-procedures.slider__slide-face
                                    a.slider__link.slider__link-procedures.popup-link(href='#popup-a')
                                        img.slider__card.slider__card-procedures(src=require('.../images/face14.png') alt='Процедура')
                            .dots
                                .dots__body.dots__body-procedure.dots__body-face